.CoffeeShop {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom right, #f2a65a, #772f1a); 
    align-items: center;
    justify-content: space-evenly;

    &-Btn {
        height: 350px;
        width: 400px;
        border: none;
        border-radius: 15px;
        background-color: #EEEBDD;
        filter: drop-shadow(-15px 15px 3px rgba(0, 0, 0, 0.4));
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
        transition: filter 1s, transform 1s;

        .CoffeeShop &__title {
            color: #BF886B;
            font-size: 32px;
            margin: 0;
        }

        &__divider {
            margin: 20px;
            background-color: #BF886B;
            height: 1px;
            width: 100px;
        }

        &__desc {

        }
    }

    &-Btn:hover {
        filter: none;
        transform: translate(-8px, 8px);
    }
}